{% extends 'base.html' %}
{% block content %}
<h2>Sobre los creadores</h2>
<p>Este foro fue creado por Jean López, Gerardo Marcano, Vanessa Hernández, y Luis Salazar. Bajo la tutela del equipo de Adakademy.</p>
<p>Contactos:</p>
<ul>
    <li>Jean López: <a href="mailto:jcjlopezsalas@gmail.com">jcjlopezsalas@gmail.com</a></li>
    <li>Gerardo Marcano: <a href="mailto:gerardozrmm@gmail.com">gerardozrmm@gmail.com</a></li>
    <li>Vanessa Hernández: <a href="mailto:hernamdezvanessa16@gmail.com">hernamdezvanessa16@gmail.com</a></li>
    <li>Luis Salazar: <a href="mailto:sluisd013@gmail.com">sluisd013@gmail.com</a></li>
    <li>Adakademy: <a href="mailto:info@adakademy.com">info@adakademy.com</a></li>
</ul>
<p>
    GitHub de los creadores y web de Adakademy:<br>
    <a href="https://github.com/Jeanlopez935" target="_blank">Jean</a> |
    <a href="https://github.com/marcanorrm" target="_blank">Gerardo</a> |
    <a href="https://github.com/vanessahernan" target="_blank">Vanessa</a> |
    <a href="https://github.com/Luissalazar0313" target="_blank">Luis</a> |
    <a href="https://adakademy.com/" target="_blank">Adakademy</a>
</p>
{% endblock %}